/* Mobile menu */
.header { height: 60px; }
.header .header__logo {
    width: 35%;
    padding-top: 5px;
}
.header .header__logo img {
    width: 100%;
}
.nav__menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: var(--color_aquia);
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
}
.nav__menu--item { line-height: 70px; }
.nav__menu--link:hover { background: none; }
.nav__toggle { display: block; }
.nav__menu--visible { left: 0; }
.nav__toggle:focus:not(:focus-visible) { outline: none; }

main {
    padding-top: 25px;
}