* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
}

:root {
    --color_black: #2b2726;
    --color_blue: #0a516d;
    --color_aquia: #018790;
    --color_green: #7dad93;
    --color_yellow: #bacca4;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--color_yellow);
    text-decoration: underline;
}


/*-----------------------------------------------------------------------------EN TODOS*/
.header {
    background-color: var(--color_aquia);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.header .header__logo {
    width: 10%;
    height: auto;
}

.header .header__logo img {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav .nav__menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav .nav__menu .nav__menu--item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav .nav__menu .nav__menu--link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav .nav__menu .nav__menu--link:hover {
    background-color: var(--color_blue);
    transition: 0.5s;
}

.nav__toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

main {
    height: auto;
    background: linear-gradient(to bottom, var(--color_aquia) 0%, var(--color_green) 100%);
    text-align: center;
}

main .main__title {
    border-bottom: 2px solid #cdd2da;
    margin: 0 50px;
}

main .main__grid {
    display: grid;
}

main form input {
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
}

main form button {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color_yellow);
    font-weight: 700;
}

main form .resultados {
    color: white;
    margin-top: 10px;
}

footer {
    height: 100px;
    background-color: var(--color_green);
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

/*-----------------------Index*/



/*-------------------Figuras*/
.main__figures {
    height: 747px;
}
.main__figures .main__figures--container {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    justify-items: center;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.main__figures .main__figures--container .main__figures--item {
    height: 500px;
    width: 400px;
    margin-top: 100px;
    background-color: var(--color_aquia);
    border-radius: 20px;
    padding: 10px;
}

.main__figures .main__figures--form .ocultar {
    display: none;
}

.main__figures .main__figures--container .main__figures--item img {
    width: 50%;
}


/*----------------------------Descuentos*/
.main__descuentos {height: 747px;}
.main__descuentos .main__descuentos--container {
    grid-template-columns: minmax(700px, 1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.main__descuentos .main__descuentos--container .main__descuentos--item {
    height: auto;
    width: 40%;
    background-color: var(--color_aquia);
    border-radius: 20px;
    padding: 10px;
    margin: 30px;
}

.main__descuentos .main__descuentos--container .main__descuentos--item img {
    width: 50%;
}


/*---------------------------------------Estadistica*/
.main__estadistica {height: 747px;}
.main__estadistica .main__estadistica--container {
    grid-template-columns: minmax(700px, 1fr);
    justify-items: center;
    justify-content: center;
}

.main__estadistica .main__estadistica--container .main__estadistica--item{
    height: auto;
    width: 40%;
    background-color: var(--color_aquia);
    border-radius: 20px;
    padding: 10px;
    margin: 30px;
}

.main__estadistica .main__estadistica--container .main__estadistica--item img {
    width: 40%;
}

.main__estadistica .main__estadistica--container .main__estadistica--item h2 {
    margin-bottom: 20px;
}

.main__estadistica .main__estadistica--container .main__estadistica--item form input {
    width: 70%;
    height: 40px;
    margin-bottom: 20px;
}

.main__estadistica .main__estadistica--container .main__estadistica--item form button {
    margin-bottom: 20px;
}


/*-----------------------Salarios*/

.main__balance--container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 50px 0 100px 0;
    width: 70%;
    margin: auto;
}
.general-balance{
    height: 525px;
}
.account {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    padding: 10px;
    width: 70%;
    margin: auto;
    margin-bottom: 17px;
}

.account .account-name {
    font-size: 1.5em;
}

.account .account-money {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
}

.account .account-money span {
    font-size: 1.5em;
}

.account a {
    align-self: center;
    color: black;
}

.btn-primary {
    cursor: pointer;
    height: 30px;
    width: 85px;
    font-size: 1em;
    font-weight: 700;
    border-radius: 10px;
    border: 0;
    background-color: var(--color_yellow);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

.btn-primary:hover {
    background-color: var(--color_aquia);
    color: white;
}

.concepts {
    margin: 34px 19px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    padding: 17px;
    place-self: flex-start center;
}

.concepts h2 {
    font-weight: 500;
}

.concepts .single-concept {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
}

.concepts .single-concept .concept-left p:nth-child(1) {
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.concepts .single-concept .concept-left p:nth-child(2) {
    font-size: 1em;
    font-weight: 300;
}

.concepts .single-concept .concept-charge {
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.concepts .single-concept .concept-charge span {
    font-size: 1em;
}

.add-forms {
    margin-top: 12px;
    padding: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.add-forms .form-container {
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    ;
    padding: 17px;
    margin: 10px;
}

.add-forms .form-container h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.add-forms .form-container form {
    display: grid;
    justify-items: center;
    align-items: center;
}

.form-container form input {
    background: none;
    border: none;
    width: 90%;
    padding: 8px;
}

.form-container label {
    font-size: 1em;
}

.form-container .currencyinput {
    width: 90%;
    background-color: var(--color_green);
    border-radius: 6px;
    padding: 0px 7px;
    padding-left: 22px;
    display: flex;
}

.form-container .btn-primary {
    padding: 0;
    padding-top: 4px;
}

.form-container form input:focus {
    border: none;
    outline: none;
}